html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.pageWrapper {
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainBox {
    height: 50vh;
}

.formBox {
	background: white;
    height: 100%;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 5em;
}

form {
    margin: 30px auto;
    text-align: center;
}

.btn {
    margin: 10px;
}

h3 {
    margin: 10px auto 50px;
}




